table a:link {
  color: darkslategrey;
}

table a:hover {
  color: inherit;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1300px;
    margin-top: 25px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th {
    border: 1px solid black; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

.react-datepicker{
    border: 1px solid rgba(34, 72, 112, 0.2 );
    .react-datepicker__header {
            .react-datepicker__navigation{
              height: 5px;
              width: 5px;
            }
    }
    .react-datepicker__day {
        .react-datepicker__day--selected:hover{
            background-color: blue;
        }
    }
}

.datePicker {
    td:hover {
      background-color: #696969;
      cursor: pointer;
    }
}
