table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1300px;
    margin-top: 25px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th {
    border: 1px solid black; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

.api {
    background-color: #f2cca6;
}

.path {
    background-color: #e2e5b3;
}

.feature {
    background-color: #cab5e3;
}

.parameters {
    background-color: #abd7ed;
}

.requestUrl {
    a {
      color: black;
    }
    a:hover{
      color: black;
    }
    margin: 0.5em;
}

.react-datepicker{
    border: 1px solid rgba(34, 72, 112, 0.2 );
    .react-datepicker__header {
            .react-datepicker__navigation{
              height: 5px;
              width: 5px;
            }
    }
    .react-datepicker__day {
        .react-datepicker__day--selected:hover{
            background-color: blue;
        }
    }
}

.inputDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    max-width: 1300px;
    margin: 0 1em 1.25em 0;
    padding: 0;
    line-height: 1.2em;
    background-color: white;
    border-style: solid;
    border-width: 0 0 0.2em 0;
    border-color: #EFEFEF;

    &__key {
        margin: 0;
        padding: 0.5em;
        font-weight: bold;
        background-color: #EFEFEF;
        border-radius: 0.25em 0 0 0;
    }
}

.datePicker {
    td:hover {
      background-color: #696969;
      cursor: pointer;
    }
}

#requestUrl {
    margin: 0.5em;
    overflow-x: auto;
}
